{% extends 'base.html' %} {% block content %}

<h1 class="mt-5">About Me</h1>

<div class="row row-cols-auto mt-5">
  <div class="col-6">
    <img class="img-fluid rounded" src="/static/images/profile.png" />
  </div>
  <div class="col-6">
    <h2>Hello, my name is <span>Asti</span>!</h2>
    <p>
      I am a fullstack software developer aka software engineer aka frontend
      developer
    </p>
  </div>
</div>

<div class="row row-cols-auto">
  <div class="col-2"></div>
  <div class="col-8">
    <ul class="list-group list-group-horizontal flex-wrap">
      {%for skill in skills %}
      <li class="skill list-group-item"><span>{{skill.name}}</span></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-2"></div>
</div>

<div class="row row-cols-auto">
  <div class="col-"></div>
  <div class="col"></div>
</div>

{% endblock %}
