{% extends 'base.html' %} {% block content %}

<h1 class="mt-5 monoton display-2 text-center">About Me</h1>

<div class="container-fluid">
  <div class="row row-cols-auto mt-5">
    <div class="col-md-6 col-sm-10">
      <img
        class="img-fluid rounded shadow-lg mb-5"
        src="/static/images/profile.png"
      />
    </div>
    <div class="col-md-6 col-sm-12">
      <h2 class="">Hello, my name is <span class="lucky display-4 color">Asti </span> !</h2><hr>
      <p>
        I am a <span class="beda display-6">fullstack software developer</span>  aka  <span class="bangers display-6">software engineer</span>  aka  <span class="bedas display-6">frontend
        developer</span>  aka  <span class="color">psychology & yoga expert</span><br /><hr>
        My previous experiences in creative, mental health, and customer service
        areas informs everything that I do, such as my ability to adapt quickly
        and stay motivated to find best possible solutions for challenging
        problems. I bring someone who is professional, progressive, and easy to
        work with.
      </p>
    </div>
  </div>

  <div class="row row-cols-auto mt-5">
    <div class="col-2"></div>
    <div class="col-8">
      <ul class="list-group list-group-horizontal flex-wrap">
        {%for skill in skills %}
        <li class="skill list-group-item border"><span>{{skill.name}}</span></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-auto mt-5">
    <div class="col-8"></div>
    <div class="col-4">
      <p>
        <span class="abril">"They know enough who know how to learn."</span>
      </p>
    </div>
  </div>
</div>

{% endblock %}
