{% extends 'base.html' %} {% block content %}

<h1 class="mt-5 monoton display-2 text-center">Home</h1>

<p class="m-5">This page does not have anything yet, cause its THE main page and it has to be <span class="bangers">PERFECT</span> so I dont know, will see what to add, I am not in a hurry :)</p>
<hr>
<p class="m-5">However I have to put something in here so, how about a joke?</p>
<br>

<p class="abril display-6 text-center mb-5">How many programmers does it take to change a light bulb?<br>
    none, that's a hardware problem</p>
{% endblock %}
