{% extends 'base.html' %} {% block content %}


<div class="text-center m-5">
    <p class="m-5 display-3 monoton">Welcome to my space!</p>
</div>



<p class="abril text-center mb-5 display-6">This is my virtual business card
</p>
<hr>

<div class="m-5">
    <span class="display-6 bedas">Things you can do here:</span>
</div>
    <div class="list">
        <ul>
            <li class="mb-5">
                <i class="fas fa-star m-5 d-none d-sm-none d-md-inline"></i>  
                Learn a little about 
                <span class="lucky">ME</span> 
                <i class="fas fa-arrow-right fa-lg m-4"></i> 
                <a class="monoton here color" href="{% url 'about' %}">HERE</a>
            </li>
            <li class="mb-5">
                <i class="fas fa-star m-5 d-none d-sm-none d-md-inline"></i>  
                Check out my 
                <span class="lucky ">portfolio </span>
                <i class="fas fa-arrow-right fa-lg m-4"></i>
                <a class="monoton here color" href="{% url 'projects_index' %}">HERE</a>
            </li>
            <li class="mb-5">
                <i class="fas fa-star m-5 d-none d-sm-none d-md-inline"></i>  
                Browse my <span class="d-none d-sm-none d-md-inline">personal</span>
                <span class="lucky ">sandbox </span> 
                <i class="fas fa-arrow-right fa-lg m-4"></i>
                <a class="monoton here color" href="https://codepen.io/AnastasiiaAsti"
                target="_blank"
                >HERE</a>

            </li>
            <li class="mb-5">
                <i class="fas fa-star m-5 d-none d-sm-none d-md-inline"></i>  
                <span class="lucky">Connect with me</span> 
                below 
                <i class="fas fa-arrow-down fa-lg m-4"></i></li>
        </ul>
    </div>

{% endblock %}
