/*f
font-family: 'Abril Fatface', cursive;
font-family: 'Bangers', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Lobster', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Monoton', cursive;
*/

/* .dark-bg {
    background-color: var(--bs-body-color);
    color: rgb(255, 245, 240);
}

.dark-bg-nav {
    background-color: var(--bs-gray-900);
    color: rgb(255, 245, 240);
} */


.bedas {
    font-family: 'Bebas Neue', cursive;
}

.lucky {
    font-family: 'Luckiest Guy', cursive;
}

.monoton {
    font-family: 'Monoton', cursive;
}

.abril {
    font-family: 'Abril Fatface', cursive;
}

.bangers {
    font-family: 'Bangers', cursive;
}

.lobster {
    font-family: 'Lobster', cursive;
}

.skill:hover {
    background-color: #F8B195;
    cursor: pointer;   
}

.color {
    color: #F8B195;
}

.list ul li {
    list-style: none;
    font-size: large;
}


.here:link {
    text-decoration: none;
    font-size: larger;
}

.here:hover {

}