/*f
ont-family: 'Bebas Neue', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Monoton', cursive;
*/

.bedas {
    font-family: 'Bebas Neue', cursive;
}

.lucky {
    font-family: 'Luckiest Guy', cursive;
}

.monoton {
    font-family: 'Monoton', cursive;
}