/*f
font-family: 'Abril Fatface', cursive;
font-family: 'Bangers', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Lobster', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Monoton', cursive;
*/

.bedas {
    font-family: 'Bebas Neue', cursive;
}

.lucky {
    font-family: 'Luckiest Guy', cursive;
}

.monoton {
    font-family: 'Monoton', cursive;
}

.abril {
    font-family: 'Abril Fatface', cursive;
}

.bangers {
    font-family: 'Bangers', cursive;
}

.lobster {
    font-family: 'Lobster', cursive;
}