{% extends 'base.html' %} {% block content %}

<h1 class="mt-5">Projects</h1>

{% for project in projects %}
<div class="container-fluid">
      <div class="row row-cols-auto mt-5">
        <div class="col-lg-6 col-sm-12">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body"
            <span class="">{{ project.name }}</span>
            <a class="" href="{{project.link}}"><p>Link:{{project.link}}</p></a>
            <p>Details: {{project.description}}</p>
        </div>
            </div>
      </div>
    </div>

</div>

  {% endfor %} {% endblock %}
</div>
